#background {
	width: 100%; height: 100%; top: 0; left: 0;
	background: url(/img/IMG_0185.webp) no-repeat center top; position: fixed; z-index: -1;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
h1 {
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}